<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>

<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td><a th:href="@{admin/edit/{id}(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{admin/delete/{id}(id=${user.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<p><a href="/admin/add">Add a new user</a></p>
</div>
<p><a href="/user">My User</a></p>
</body>

<footer>
    <a href="/logout">LOGOUT</a>
</footer>

</html>