<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>

<body>
<form action="#"
      th:action="@{/admin/update/{id}(id=${user.getId()})}"
      th:object="${user}"
      method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <input type="checkbox" name="roles"
           th:each="role : ${roles}"
           th:text="${role.getRole()}"
           th:value="${role.getId()}"
           th:field="*{roles}"/>
    <input type="submit" value="Update User">
</form>
</body>

</html>